@using Kendo.Mvc.UI
@using Nat.Web.Core.Kendo.Extensions
@using Nat.Web.Core.Resources
@using Nat.Web.ReportManager.Kendo.Areas.Reports.ViewModels
@using Nat.Web.ReportManager.Kendo.Properties

@{
    Layout = null;
}

    <div class="k-header k-grid-toolbar reportToolbar">
        <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onCreateClick()" style="display: none;"><span class="k-icon fas fa-file"></span> @Resources.SCreateReport</button>
        <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onWordExportClick()" style="display: none;"><span class="k-icon fas fa-file-word"></span> @Resources.SWordExport</button>
        <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onExcelExportClick()" style="display: none;"><span class="k-icon fas fa-file-excel"></span> @Resources.SExcelExport</button>
        <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onPDFExportClick()" style="display: none;"><span class="k-icon fas fa-file-pdf"></span> @Resources.SPDFExport</button>
        <button class="k-button k-button-icontext" data-bind="visible: showCRButtons" onclick="VM.manager.onCreateClick()" style="display: none;"><span class="k-icon fas fa-window-maximize"></span> @Resources.SCreateReport</button>
        <button class="k-button k-button-icontext" data-bind="visible: showCRButtons" onclick="VM.manager.onCreateClick(true)" style="display: none;"><span class="k-icon fas fa-window-restore"></span> @Resources.SOnNewTab</button>
        <button class="k-button k-button-icontext" data-bind="visible: showCRButtons" onclick="VM.manager.onExcelExportClick()" style="display: none;"><span class="k-icon fas fa-file-excel"></span> @Resources.SExcelExport</button>
        <button class="k-button k-button-icontext" data-bind="visible: showSubscription" onclick="VM.manager.onSubscriptionClick()" style="display: none;"><span class="k-icon fas fa-file-export"></span> @Resources.SSubscription</button>
        <button class="k-button k-button-icontext" data-bind="visible: showSaveSubscription" onclick="VM.manager.onSaveSubscriptionClick()" style="display: none;"><span class="k-icon fas fa-save"></span> @Resources.SSaveSubscription</button>
        <button class="k-button k-button-icontext" data-bind="visible: showAddParameters" onclick="VM.manager.onAddParametersClick()" style="display: none;"><span class="k-icon fas fa-plus-square"></span> @Resources.SAddParameters</button>
    </div>

<div id="reportParameters" class="k-edit-form-container" style="display: none">

</div>

<div class="reportResultDiv">
    <div id="reportResultDiv" style="display: none">

    </div>
</div>
<script type="text/x-kendo-template" id="parametersDateTimeTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        <div class="editor-field m-editor-value1">
            <input id="Value1_#= ParameterIndex#" data-role="datepicker"
                   data-bind="value: Value1, visible: VisibleValue1" 
                   data-parse-formats="['dd,MM,yyyy','ddMMyyyy','dd.MMyyyy','ddMM.yyyy','dd.MM.yy','dd,MM,yy','ddMMyy','dd.MMyy','ddMM.yy','ddMM','dd.MM','dd,MM']"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="Value2_#= ParameterIndex#" data-role="datepicker" 
                   data-parse-formats="['dd,MM,yyyy','ddMMyyyy','dd.MMyyyy','ddMM.yyyy','dd.MM.yy','dd,MM,yy','ddMMyy','dd.MMyy','ddMM.yy','ddMM','dd.MM','dd,MM']"
                   data-bind="value: Value2, visible: VisibleValue2" 
                   style="width:100%" />
        </div>
        @Html.Partial("_Remove")
    </div
</script>
<script type="text/x-kendo-template" id="parametersInt16Template">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        <div class="editor-field m-editor-value1">
            <input id="Value1_#= ParameterIndex#" data-role="numerictextbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int16.MinValue" data-max="@Int16.MaxValue" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="Value2_#= ParameterIndex#" data-role="numerictextbox" data-bind="value: Value2, visible: VisibleValue2" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int16.MinValue" data-max="@Int16.MaxValue" />
        </div>
        @Html.Partial("_Remove")
    </div>
</script>
<script type="text/x-kendo-template" id="parametersInt32Template">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        <div class="editor-field m-editor-value1">
            <input id="Value1_#= ParameterIndex#" data-role="numerictextbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int32.MinValue" data-max="@Int32.MaxValue" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="Value2_#= ParameterIndex#" data-role="numerictextbox" data-bind="value: Value2, visible: VisibleValue2" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int32.MinValue" data-max="@Int32.MaxValue" />
        </div>
        @Html.Partial("_Remove")
    </div>
</script>
<script type="text/x-kendo-template" id="parametersInt64Template">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        <div class="editor-field m-editor-value1">
            <input id="Value1_#= ParameterIndex#" data-role="numerictextbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int64.MinValue" data-max="@Int64.MaxValue" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="Value2_#= ParameterIndex#" data-role="numerictextbox" data-bind="value: Value2, visible: VisibleValue2" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int64.MinValue" data-max="@Int64.MaxValue" />
        </div>
        @Html.Partial("_Remove")
    </div>
</script>
<script type="text/x-kendo-template" id="parametersBooleanTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        @Html.Partial("_Remove")
        <div class="editor-field m-editor-value" style="margin-top: 4px;">
            <input type="radio" id="ValueTrue_#= ParameterIndex#" name="Value1_#= ParameterIndex#" class="k-radio" data-type="boolean" data-bind="checked: Value1, visible: VisibleValue1" value="true" />
            <label class="k-radio-label" for="ValueTrue_#= ParameterIndex#">@SharedResources.SYes</label>
            <input type="radio" id="ValueFalse_#= ParameterIndex#" name="Value1_#= ParameterIndex#" class="k-radio" data-type="boolean" data-bind="checked: Value1, visible: VisibleValue1" value="false" />
            <label class="k-radio-label" for="ValueFalse_#= ParameterIndex#">@SharedResources.SNo</label>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersStringTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        @Html.Partial("_Remove")
        <div class="editor-field m-editor-value">
            <input type="text" id="Value1_#= ParameterIndex#" class="k-textbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" length="500" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersCFCTemplate">
    <div class="editor-field m-editor-parameter" id="CFCParameterID_#= ParameterIndex #">
        <input id="CFCValue1_#= ParameterIndex#" name="CFCValue1_#= ParameterIndex#" type="checkbox"
               class="k-checkbox"
               data-bind="checked: CheckedFilterConditionValue" />
        <label class="k-checkbox-label" style="margin-bottom: 0px;" for="CFCValue1_#= ParameterIndex#">#: CheckedFilterConditionTooltip #</label>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersDDLTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        @Html.Partial("_Remove")
        <div class="editor-field m-editor-value">
            <input id="Value1_#= ParameterIndex#" data-role="dropdownlist"
                   data-bind="value: Value1, visible: VisibleValue1, source: Data"
                   data-filter="contains"
                   data-value-field="#= ValueColumn #"
                   data-text-field="#= DisplayColumn #"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersDDL2Template">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        <div class="editor-field m-editor-value1">
            <input id="Value1_#= ParameterIndex#" data-role="dropdownlist"
                   data-bind="value: Value1, visible: VisibleValue1, source: Data"
                   data-filter="contains"
                   data-value-field="#= ValueColumn #"
                   data-text-field="#= DisplayColumn #"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="Value2_#= ParameterIndex#" data-role="dropdownlist"
                   data-bind="value: Value2, visible: VisibleValue2, source: Data"
                   data-filter="contains"
                   data-value-field="#= ValueColumn #"
                   data-text-field="#= DisplayColumn #"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        @Html.Partial("_Remove")
    </div>
</script>
<script type="text/x-kendo-template" id="parametersMultiColumnTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        @Html.Partial("_Remove")
        <div class="editor-field m-editor-value">
            <input id="Value1_#= ParameterIndex#" data-role="multicolumncombobox" 
                   data-bind="value: Value1, visible: VisibleValue1, source: Data" 
                   data-filter="contains"
                   data-value-primitive="true"
                   data-value-field="#= ValueColumn #" 
                   data-text-field="#= DisplayColumn #"
                   data-delay="750"
                   data-columns='#= JSON.stringify(Columns) #'
                   style="width:100%" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersValue1Template">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        @Html.Partial("_Remove")
        <div class="editor-field m-editor-value">
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersValue2Template">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        <div class="editor-field m-editor-value1">
        </div>
        <div class="editor-field m-editor-value2">
        </div>
        @Html.Partial("_Remove")
    </div>
</script>
<script type="text/x-kendo-template" id="parametersGridTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        <div id="Value1_#= ParameterIndex#" data-role="grid"
             data-bind="visible: VisibleValue1, source: Data"
             data-columns='#= JSON.stringify(Columns) #'
             data-scrollable="true"
             data-sortable="true"
             data-pageable="true"
             style="width:100%; height: 400px" />
    </div>
</script>
<script type="text/x-kendo-template" id="parametersTreeTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        <div id="Value1_#= ParameterIndex#" data-role="treelist"
             data-bind="visible: VisibleValue1, source: Data"
             data-columns='#= JSON.stringify(Columns) #'
             data-selectable="true"
             data-sortable="true"
             style="width:100%; height: 400px" />
    </div>
</script>
<script type="text/x-kendo-template" id="parametersUndefinedTemplate">
    @Html.Partial("_Label")
    <div class="editor-field m-editor-parameter" id="ParameterID_#= ParameterIndex #">
        @Html.Partial("_FilterType")
        @Html.Partial("_Remove")
        <div class="editor-field m-editor-value">
            Ошибка инициализации
        </div>
    </div>
</script>