@using Kendo.Mvc.UI
@using Nat.Web.Core.Kendo.Extensions
@using Nat.Web.Core.Resources
@using Nat.Web.ReportManager.Kendo.Areas.Reports.ViewModels
@using Nat.Web.ReportManager.Kendo.Properties

@{
    Layout = null;
}

<div class="k-header k-grid-toolbar reportToolbar">
    <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onCreateClick()"><span class="k-icon fas fa-file"></span> @Resources.SCreateReport</button>
    <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onWordExportClick()"><span class="k-icon fas fa-file-word"></span> @Resources.SWordExport</button>
    <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onExcelExportClick()"><span class="k-icon fas fa-file-excel"></span> @Resources.SExcelExport</button>
    <button class="k-button k-button-icontext" data-bind="visible: showButtons" onclick="VM.manager.onPDFExportClick()"><span class="k-icon fas fa-file-pdf"></span> @Resources.SPDFExport</button>
</div>

<div id="reportParameters" class="k-edit-form-container" style="display: none">

</div>

<div class="reportResultDiv">
    <div id="reportResultDiv" style="display: none">

    </div>
</div>
<script type="text/x-kendo-template" id="parametersDateTimeTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value1">
            <input id="#: Name #Value1" data-role="datepicker" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="#: Name #Value2" data-role="datepicker" data-bind="value: Value2, visible: VisibleValue2" style="width:100%" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersInt32Template">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value1">
            <input id="#: Name #Value1" data-role="numerictextbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int32.MinValue" data-max="@Int32.MaxValue" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="#: Name #Value2" data-role="numerictextbox" data-bind="value: Value2, visible: VisibleValue2" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int32.MinValue" data-max="@Int32.MaxValue" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersInt64Template">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value1">
            <input id="#: Name #Value1" data-role="numerictextbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int64.MinValue" data-max="@Int64.MaxValue" />
        </div>
        <div class="editor-field m-editor-value2">
            <input id="#: Name #Value2" data-role="numerictextbox" data-bind="value: Value2, visible: VisibleValue2" style="width:100%" data-restrict-decimals="true" data-decimals="0" data-format="{0:0}" data-min="@Int64.MinValue" data-max="@Int64.MaxValue" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersBooleanTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value" style="margin-top: 4px;">
            <input type="radio" id="#: Name #ValueTrue" name="#: Name #Value1" class="k-radio" data-type="boolean" data-bind="checked: Value1, visible: VisibleValue1" value="true" />
            <label class="k-radio-label" for="#: Name #ValueTrue">@SharedResources.SYes</label>
            <input type="radio" id="#: Name #ValueFalse" name="#: Name #Value1" class="k-radio" data-type="boolean" data-bind="checked: Value1, visible: VisibleValue1" value="false" />
            <label class="k-radio-label" for="#: Name #ValueFalse">@SharedResources.SNo</label>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersStringTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value">
            <input type="text" id="#: Name #Value1" class="k-textbox" data-bind="value: Value1, visible: VisibleValue1" style="width:100%" length="500" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersDDLTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value">
            <input id="#: Name #Value1" data-role="dropdownlist" 
                   data-bind="value: Value1, visible: VisibleValue1, source: Data" 
                   data-filter="contains"
                   data-value-field="#= ValueColumn #" 
                   data-text-field="#= DisplayColumn #"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersMultiColumnTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist" 
                   data-bind="value: FilterType, source: FilterTypes" 
                   data-value-field="id" 
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value">
            <input id="#: Name #Value1" data-role="multicolumncombobox" 
                   data-bind="value: Value1, visible: VisibleValue1, source: Data" 
                   data-filter="contains"
                   data-value-primitive="true"
                   data-value-field="#= ValueColumn #" 
                   data-text-field="#= DisplayColumn #"
                   data-delay="750"
                   data-columns='#= JSON.stringify(Columns) #'
                   style="width:100%" />
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="parametersGridTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div id="#: Name #Value1" data-role="grid"
             data-bind="visible: VisibleValue1, source: Data" 
             data-columns='#= JSON.stringify(Columns) #'
             data-scrollable="true"
             data-sortable="true"
             data-pageable="true"
             style="width:100%; height: 400px" />
    </div>
</script>
<script type="text/x-kendo-template" id="parametersUndefinedTemplate">
    <div class="editor-label m-editor-label">
        <label id="#= Name #Label" for="#= Name #Value1">#: Title #</label>
    </div>
    <div class="editor-field m-editor-parameter">
        <div class="editor-field m-editor-filterTypes">
            <input id="#: Name #FilterType" data-role="dropdownlist"
                   data-bind="value: FilterType, source: FilterTypes"
                   data-value-field="id"
                   data-text-field="Name"
                   data-value-primitive="true"
                   style="width:100%" />
        </div>
        <div class="editor-field m-editor-value">
            Ошибка инициализации
        </div>
    </div>
</script>